# data
analysis/data/*.tsv.gz
analysis/data/*.tsv

# mac
**/.DS_Store

# temp files
**/*~
**/.ipynb_checkpoints/

# R junk
*.Rproj

# site
site/.sass-cache
site/.vagrant
site/.jekyll-cache
site/Gemfile.lock
site/beautiful-jekyll-theme-*.gem
site/_site
node_modules/
